@use "../helpers" as *;

.expert-selection {
  &__main {
    @include mobile {
      padding: rem(50) rem(10);
    }
  }

  &__title {
    padding-block: rem(15);

    @include mobile {
      font-size: rem(20);
    }
  }

  &__text {
    position: relative;
    text-align: center;
    padding: 0 rem(40) rem(20);
    box-shadow: 0 2px 30px rgba(232, 228, 219, 0.1);
    background-color: rgba(17, 17, 17, 0.01);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: rem(18);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        135deg,
        transparent 0%,
        rgba(232, 228, 219, 0.05) 50%,
        transparent 100%
      );
      border-radius: rem(18);
    }

    p {
      text-align: justify;
      font-size: rem(21);

      @include tablet {
        font-size: rem(20);
      }

      @include mobile {
        font-size: rem(14);
      }
    }

    @include mobile {
      font-size: rem(14);
      padding: 0 rem(20) rem(20);
    }
  }
}
