@use "../helpers" as *;

.footer {
  color: var(--color-gray-60);
  padding-top: rem(20);
  background-color: var(--color-dark);

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    user-select: none;
  }

  &__modal {
    display: inline-flex;
    align-items: center;
    gap: rem(8);
    text-shadow: 0 0 2px var(--color-light);
    color: var(--color-gray-80);
    padding: rem(5) rem(10);
    text-decoration: underline;

    @include hover {
      text-decoration: underline;
      text-shadow: 0 0 12px var(--color-light);
      backdrop-filter: blur(20px);
      background-color: var(--color-dark-15);
      border-radius: rem(12);
      padding: rem(5) rem(10);
    }

    @include mobile {
      font-size: rem(20);
    }
  }

  &__modal-icon {
    flex-shrink: 0;
    color: currentColor; 
    transition: transform var(--transition-duration);
  }

  &__modal:hover &__modal-icon {
    transform: scale(1.1);
  }

  &__paragraph {
    padding-top: rem(10);
    padding-inline: rem(100);
    text-shadow: 0 0 1px var(--color-light);
    text-align: center;
    justify-content: center;

    @include mobile {
      padding-inline: 0;
    }
  }

  &__image {
    display: flex;
    filter: drop-shadow(0px 0px 2px rgb(232, 228, 219));
    padding-block: rem(10);
    user-select: none;
  }
}