@use "../helpers" as *;

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: rem(100) rem(200);

  @keyframes scrolling-header {
    to {
      box-shadow: 0 0 1rem 0 var(--color-accent);
    }
  }

  &__body {
    padding-block: rem(24);
    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--border-divider);

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;
      padding-inline: rem(80);

      @include mobile {
        padding-inline: rem(20);
      }
    }

    @include mobile {
      padding-block: rem(20);
    }
  }

  &__overlay {
    @include mobile-above {
      display: flex;
      align-items: center;
      gap: rem(80);
    }

    @include mobile {
      position: fixed;
      inset: 0;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 3rem;
      background-color: var(--color-dark);
      background-image: url(/images/bg.jpg);
      background-size: cover;
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        @include hide;
        translate: 100%;
      }
    }
  }

  &__contacts {
    display: flex;
    gap: rem(28);
    align-items: center;

    @include laptop {
      gap: rem(24);
    }

    @include mobile {
      flex-direction: column;
      gap: rem(20);
      width: 100%;
      padding-bottom: rem(30);
    }
  }

  &__contact-item {
    display: flex;
    flex-direction: column;
  }

  &__contact-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--color-light);
    transition: color var(--transition-duration);

    &:hover {
      color: var(--color-accent-light);

      .header__contact-value {
        color: var(--color-accent-light);
      }
    }

    @include mobile {
      background-color: var(--bg-primary);
      padding: rem(20);
      border-radius: rem(24);
      box-shadow: 0 0 15px var(--color-light);
    }
  }

  &__contact-value {
    font-weight: 500;
    color: var(--color-accent);
    font-size: rem(16);
    line-height: 1.3;
    transition: color var(--transition-duration);

    @include mobile {
      font-size: rem(26) !important;
      text-align: center;
      text-shadow: 0 0 5px var(--color-light);
    }
  }

  &__contact-description {
    font-size: rem(12);
    opacity: 0.8;
    line-height: 1.3;
    margin-top: rem(2);

    @include mobile {
      font-size: rem(18) !important;
      text-align: center;
      text-shadow: 0 0 5px var(--color-light);
    }
  }

  &__contact-us-link {
    cursor: pointer;

    @include mobile-above {
      min-width: rem(160);
    }

    @include mobile {
      width: 100%;
      max-width: rem(300);
      align-self: center;
    }
  }

  @include laptop {
    &__contacts {
      gap: rem(20);
    }

    &__contact-value {
      font-size: rem(15);
    }

    &__contact-description {
      font-size: rem(11);
    }
  }

  @include tablet {
    &__overlay {
      gap: rem(24);
    }

    &__contacts {
      gap: rem(16);
    }

    &__contact-value {
      font-size: rem(14);
    }

    &__contact-description {
      font-size: rem(10);
    }
  }
}
