@use "../helpers" as *;

.stats {
  &__main {
    padding-block: rem(75);

    @include mobile {
      padding-block: rem(50);
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: rem(40);
  }

  &__circles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    filter: drop-shadow(0 2px 20px rgba(232, 228, 219, 0.3));

    @media (width <= 957px) {
      flex-direction: column;
    }
  }

  &__small-circle {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: rem(3) #8f8f8f solid;
    width: rem(300);
    height: rem(300);
    border-radius: 100%;
    padding-inline: rem(20);
    background-color: var(--color-dark);
    justify-content: center;

    &::before {
      content: "";
      background: url(/images/stats/icon-1.svg) center center/80% no-repeat;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &--info {
      z-index: 2;
      text-align: center;
      color: var(--color-light);
    }

    &--number {
      z-index: 2;
      text-align: center;
      color: var(--color-light);
      font-weight: bold;
      filter: drop-shadow(0 0 10px rgba(232, 228, 219, 0.3));
    }

    @media (width <= 1256px) {
      width: rem(200);
      height: rem(200);
    }
  }

  .small-circle__second {
    &::before {
      content: "";
      background: url(/images/stats/icon-3.svg) center center/80% no-repeat;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  &__big-circle {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-color: var(--color-light);
    border: rem(3) solid;
    width: rem(450);
    height: rem(450);
    border-radius: 100%;
    padding-inline: rem(20);
    background-color: var(--color-dark);
    justify-content: center;

    &::before {
      content: "";
      background: url(/images/stats/icon-2.svg) center center/80% no-repeat;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &--info {
      z-index: 2;
      text-align: center;
      color: var(--color-light);
      @include tablet {
        font-size: rem(22);
      }
    }

    &--number {
      z-index: 2;
      text-align: center;
      color: var(--color-light);
      font-weight: bold;
      filter: drop-shadow(0 0 10px rgba(232, 228, 219, 0.3));
    }

    @media (width <= 1256px) {
      width: rem(350);
      height: rem(350);
    }

    @media (width <= 380px) {
      width: rem(300);
      height: rem(300);
    }

    @include tablet-above {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      border: rem(3) #8f8f8f solid;
      width: rem(300);
      height: rem(300);
      border-radius: 100%;
      padding-inline: rem(20);
      background-color: var(--color-dark);
      justify-content: center;

      &::before {
        content: "";
        background: url(/images/stats/icon-2.svg) center center/80% no-repeat;
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      &--info {
        z-index: 2;
        text-align: center;
        color: var(--color-light);
      }

      &--number {
        z-index: 2;
        text-align: center;
        color: var(--color-light);
        font-weight: bold;
        font-size: rem(54);
        filter: drop-shadow(0 0 10px rgba(232, 228, 219, 0.3));
      }
    }
  }

  &__line {
    background-color: var(--color-gray-50);
    width: rem(80);
    height: rem(3);
    filter: drop-shadow(0 2px 20px rgba(232, 228, 219, 0.3));

    @media (width <= 957px) {
      width: rem(3);
      height: rem(60);
    }
  }
}
