@use "../helpers" as *;

.workflow {
  &__main {
    padding-block: rem(75);

    @include mobile {
      padding-block: rem(50);
    }
  }

  &__title {
    text-align: center;
  }

  &__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding-top: rem(60);
    padding-inline: rem(100);
    gap: rem(100) rem(150);
    flex-wrap: wrap;

    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: rem(200);
      text-align: center;
    }

    &--image {
      filter: drop-shadow(0 2px 3px rgba(232, 228, 219, 0.6));
    }

    &--description {
      padding-top: rem(15);

      @include mobile {
        padding-top: rem(10);
      }
    }

    @include laptop {
      row-gap: rem(50);
    }

    @include mobile {
      padding-inline: 0;
      row-gap: rem(50);
    }
  }
}
